.creditsDialog {
    border-radius: 1em;
    background-color: white;
    z-index: 999;
    padding: 1em;
}

.creditsBody a {
    background-color: rgba(100, 148, 237, 0.5);
    text-decoration: none;
}