.keyboard {
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 2, 112);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5px;
    width: 450px;
    height: fit-content;
    padding: 0.5em;
}