.queryDisplay {
    width: 720px;
    border: 2px solid gray;
    background-color: #e6e69e;
    color: black;
}

.queryBox {
    height: 120px;
    width: fit-content;
    overflow: auto;
    position: relative;
    background-color: plum;
    user-select: none;
}

.queryButton {
    margin: 1em 0;
    font-size: 0.75em;
    border-radius: 0.5em;
    color: white;
    background-color: cornflowerblue;
}

.queryButton:hover {
    background-color: rgba(0, 0, 255, 0.742);
}

.typearea {
    width: 480px;
    height: 75px;
    background-color: white;
    border: 1px solid black;
    resize: none;
    justify-content: center;
    font-size: 1em;
    margin: 0 1em;
}