.scoreboard {
    background-color: white;
    color: black;
    height: fit-content;
    width: 600px;
    margin-bottom: 2em;
    border-radius: 1em;
}

.score-head {
    background-color: cornflowerblue;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0.05em 0;
}

.score-head ul {
    list-style-type: none; 
    display: flex;
    flex-direction: row;
}

.score-head ul li {
    padding: 0 1em;
    border: 1px solid white;
    border-radius: 1em;
    margin-right: 0.5em;
}

.score-head ul li:hover {
    background-color: rgba(0, 0, 255, 0.7);
    color: white;
    border: 1px solid black;
}

.score-element {
    padding: 1em;
    border: 1px solid gray;
    margin: 1em;
    border-radius: 1em;
    font-size: smaller;
    height: 3em;
}

.score-element span {
    float: left;
    text-decoration: underline;
}